<div class="page-header" style="margin-top:0;">
  <h2 style="margin-top:0;">ストレスと歯ぎしりの関係</h2>
</div>
<div class="row marketing" ng-controller="HagishiriCtrl">
  <div class="media">
    <div class="media-body">
      <p><strong><span class="text-red h4">歯ぎしりうるさい</span></strong>って言われた経験はありませんか？</p>
      <p><strong><span class="text-red h4">朝起きたら顎や歯が痛い</span></strong>って経験はありませんか？</p>
      <br>
      <p>
      周りの人に迷惑をかけていると感じたり、朝起きたときに歯や顎が痛かったり、
      歯がすり減ったりして辛い思いをしている人も多いと思います。
      </p>
    </div>
    <div class="media-right">
      <img class="media-object" width="260px" src="images/noisy.jpg" alt="歯ぎしりがうるさい">
    </div>
    <p>
    たちの悪いことに寝ている間の出来事なので気をつけようがなく、どうして良いかわからずに悩んでしまいます。
    </p>
    <p>
    中には歯ぎしりを気にして、友達と旅行やお泊りに行きにくいと思っている人もいるのではないでしょうか？<br>
    僕もすごい気にしてマウスピースを持ち歩いたりしていました。ただ、気にしすぎていまいあまり楽しめないときもありました（汗）
    </p>
    <p>
    歯ぎしりは不快な音を立てるので周りの人にかなり気を遣いますし、歯がすり減っているのを見ると体がボロボロになっていく感じが
    するので精神的に辛いですよね！？<br>
    歯ぎしりを解消するためにも、辛さから開放されるためにも「歯ぎしり」について詳しくなりましょう。
    歯ぎしりによる悪影響、原因、予防する方法について説明します。
    </p>
  </div>
  

  <div class="page-header">
    <h3>歯ぎしりによる悪影響</h3>
  </div>
  <p>
    ずっと歯ぎしりをしていると、歯が削れてすり減ったり、最悪の場合、割れることもあります。
    また、二次障害として口を開けようとするとあごの関節がカクンカクンとなって痛みがあったり、
    あごの筋肉がこわばったりして、口が開けにくくなることもあります。（顎関節症）悪化すると、
    ほんの少し口を開けても痛みがあって、食事ができなくなることもあるのです。
  </p>
  <p>
  さらに、<strong><span class="text-red">美容面にも影響があります！！</span></strong><br>
  歯ぎしりをしていると、一晩中顎の筋肉を動かしていることになるので顎周りの筋肉が発達し、大きくなってしまいます。
  顎に筋肉がつくということは、、、顔が大きくなったり、エラが張ってしまう可能性があるってことです！！
  </p>
  <blockquote>
    顔が大きい原因の１つに咬筋の発達というものがあります。<br>
    エラの部分についている筋肉なのですがこの筋肉が発達するとエラを大きくしてしまい顔が大きくなります。
    <footer>顔顎矯正・鍼灸接骨院リビジョン<cite title="Source Title"><a href="http://revisionginza.com/co-contraction-masseter">顔が大きい原因はエラの筋肉の使い方に問題があるってどういう事？</cite></a></footer>
  </blockquote>
  <div class="page-header">
    <h3>歯ぎしりの原因</h3>
  </div>
  
  <p class="text-red h4"><strong>歯ぎしりの原因のほとんどがストレス！！</strong></p>
  <img class="media-object" src="images/stress.jpg" alt="歯ぎしりの原因はストレス">
  <br>
  <p>
    歯ぎしりの原因はさまざまですが、ほとんどの場合「ストレス」が原因だと言われています。
    過剰なストレスを受けている人ほど、歯ぎしりになる傾向が強いそうです。
    「自分はストレスなんて感じていない」と思っている人もいますが、自分では感じていないだけで
    知らないうちにストレスを溜め込んでいる場合も多くあります。
  </p>
  <p>
    僕もストレスなんてないと思っていたのですが、ふと寝る前に考えていることを思い返すと、
  </p>
  <ul class="list-unstyled">
    <li><span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>「明日はxxxしなきゃ」</li>
    <li><span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>「xxxを終わらせないといけないから朝早起きしなきゃ」</li>
    <li><span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>「明日いやだなー」</li>
    <li><span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>「明日の仕事大丈夫かなー」</li>
  </ul>
  <p>
    といった感じで仕事のことばかりを考えていました。<br>
    きっとストレスが溜まっていたんだと思います。
  </p>

  <div class="page-header">
    <h3>歯ぎしりの予防、ストレスを感じなくする</h3>
  </div>
  <p>
    ストレスを感じなくさせて眠りに入るためには、体をリラックスした状態にすることが大切です！
    主な予防方法を上げておくので自分に合いそうなものをピックアップして試してみてください。<br>
  </p>
  <br>
  <div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title">歯ぎしり予防方法</h3>
    </div>
    <div class="panel-body">
      <p>
        <span class="glyphicon glyphicon-check" aria-hidden="true"></span>
        歯が削れる不安を取り除くためにマウスピースをつける<br>
      </p>
      <p>
        <span class="glyphicon glyphicon-check" aria-hidden="true"></span>
        就寝前の1時間はリラックスタイムにして、自分の好きなことをしてみる<br>
      </p>
      <p>
        <span class="glyphicon glyphicon-check" aria-hidden="true"></span>
        ベッドに入ったら「明日は楽しい日になる!!」などポジティブなことを考えて自己暗示をかけてみる<br>
      </p>
      <p>
        <span class="glyphicon glyphicon-check" aria-hidden="true"></span>
        日中、歯を食いしばっていることに気づいたら休憩や深呼吸してリラックスする<br>
      </p>
      <p>
        <span class="glyphicon glyphicon-check" aria-hidden="true"></span>
        夜はぬるま湯に浸かって体を休める
      </p>
      <p>
        <span class="glyphicon glyphicon-check" aria-hidden="true"></span>
        寝る前のアルコール、タバコは控える
      </p>
    </div>
  </div>
  <br>
  <p>
    もし試してみて効果がでない場合は、サプリメントを使う方法もあります。<br>
    睡眠改善系のサプリメントは天然成分から作らている安全なものが多く、薬ではないため依存してしまうこともないので安心です。<br>
    いくつかオススメのサプリメントを紹介しておくので参考にしてみてください。
  </p>
  <div class="page-header">
    <h3 class="h4">おすすめサプリメント</h3>
  </div>
  <div class="row">
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <a href="http://px.a8.net/svt/ejp?a8mat=2NGCHV+5PEKHE+2O22+1HO86P" target="_blank">
        <img border="0" width="300" height="250" alt="" src="http://www28.a8.net/svt/bgt?aid=160326211345&wid=001&eno=01&mid=s00000012449009015000&mc=1"></a>
        <img border="0" width="1" height="1" src="http://www13.a8.net/0.gif?a8mat=2NGCHV+5PEKHE+2O22+1HO86P" alt="">
        <div class="caption">
          <p>夜ぐっすり、目覚めスッキリ！！｜ネムリス-nemlis</p>
          <p><a href="http://px.a8.net/svt/ejp?a8mat=2NGCHV+5PEKHE+2O22+1HPARL" target="_blank" class="btn btn-success" role="button">詳細</a></p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <a href="http://px.a8.net/svt/ejp?a8mat=2NGCHV+4TULF6+35LG+60OXD" target="_blank">
        <img border="0" width="300" height="250" alt="" src="http://www28.a8.net/svt/bgt?aid=160326211292&wid=001&eno=01&mid=s00000014722001011000&mc=1"></a>
        <img border="0" width="1" height="1" src="http://www19.a8.net/0.gif?a8mat=2NGCHV+4TULF6+35LG+60OXD" alt="">
        <div class="caption">
          <p>リラクミンシリーズ<br><br></p>
          <p><a href="http://px.a8.net/svt/ejp?a8mat=2NGCHV+4TULF6+35LG+60OXD" target="_blank" class="btn btn-success" role="button">詳細</a></p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <a href="http://px.a8.net/svt/ejp?a8mat=2NG9D6+6UHH82+37F0+ZTFR5" target="_blank">
        <img border="0" width="300" height="250" alt="" src="http://www21.a8.net/svt/bgt?aid=160322154414&wid=001&eno=01&mid=s00000014958006016000&mc=1"></a>
        <img border="0" width="1" height="1" src="http://www12.a8.net/0.gif?a8mat=2NG9D6+6UHH82+37F0+ZTFR5" alt="">
        <div class="caption">
          <p>ファインベースの休息サプリ、グッドナイト27000</p>
          <p><a href="http://px.a8.net/svt/ejp?a8mat=2NG9D6+6UHH82+37F0+ZTFR5" target="_blank" class="btn btn-success" role="button">詳細</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
