<div class="row marketing" ng-controller="MainCtrl">
  <span>合計: {{totalItems}}</span> 
  <table class="table">
    <tr>
      <th>商品名</th>
      <th>価格</th>
    </tr>
    <tr ng-repeat="result in results">
      <td>{{result.name}}</td>
      <td>{{result.price}}</td>
    </tr>
  </table>
  <uib-pagination
    total-items="totalItems"
    ng-model="currentPage"
    ng-change="pageChanged()"
    max-size="maxSize"
    previous-text="前へ"
    next-text="次へ"
    boundary-link-numbers="true"
  ></uib-pagination>
</div>
