<div class="page-header" style="margin-top:0;">
  <h2 style="margin-top:0;">ストレスとうなり声の関係</h2>
</div>
<div class="row marketing" ng-controller="HagishiriCtrl">
  <div class="media">
    <div class="media-body">
      <p><strong><span class="text-red h4">「うーうー」ってうなってたよ</span></strong>って言われた経験はありませんか？</p>
      <p>
      また、最近ではスマホアプリで睡眠中の音を録音できるものもあるので、そういったもので気づいた人もいるかもしれません。
      このように睡眠中に「うなり声をあげる」症状で悩んでいるの方は決して少なくありません。
      </p>
    </div>
    <div class="media-right">
      <img class="media-object" width="260px" src="images/unasareru.jpg" alt="睡眠中のうなり声">
    </div>
  </div>
  <p>
  この「うなり声」を軽減・解消するためにも原因やどんな状態のときにうなり声をあげているのかを知りましょう。
  </p>

  <div class="page-header">
    <h3>うなり声をあげている状態とは？</h3>
  </div>
  <p>
  睡眠にはノンレム睡眠・レム睡眠と呼ばれる２つの状態があります。<br>
  それぞれの特徴をまとめると次のとおりです。
  </p>
  <table class="table table-bordered">
    <tr class="info">
      <th>特徴</th>
      <th>ノンレム睡眠</th>
      <th>レム睡眠</th>
    </tr>
    <tr>
      <td class="active">眠りの深さ</td>
      <td>深い</td>
      <td>浅い</td>
    </tr>
    <tr>
      <td class="active">脳の状態</td>
      <td>休んでいる</td>
      <td>比較的活動している</td>
    </tr>
    <tr>
      <td class="active">体の状態</td>
      <td>体を支える筋肉は働いていて、体は起きている</td>
      <td>体の力が完全に抜けていて、体が眠っている</td>
    </tr>
    <tr>
      <td class="active">自律神経</td>
      <td>副交感神経が優位になり、ゆったりしている</td>
      <td>不安定になっていて、呼吸や脈拍が不規則</td>
    </tr>
  </table>
  
  <p>
  <strong><span class="text-red">ストレスを過度に受けている状態</span></strong>では、ノンレム睡眠の寝言も
  レム睡眠の寝言も増えますが、とくにレム睡眠の最中に感情的な寝言が多くなることが知られています。<br>
  レム睡眠中は体の筋肉の緊張が解かれているため、明瞭な発音ができません。そのため、寝言が「うなり声」
  といった形で現れるのです。
  </p>
  <p>
    強いストレスを感じているほど寝言（うなり声）の回数が多くなる傾向があるので、ゆっくりと休まる時間が短くなってしまいます。

    そのため、寝てもあまり疲れがとれないといった状態になってしまいがちです。
  </p>

  <div class="page-header">
    <h3>うなり声対策・予防</h3>
  </div>
  
  <p>
  うなり声をあげている場合は、自分を苦しめているストレスの原因を考えてみるのが大切です。<br>
  また、友人や恋人などと旅行やお泊りをする場合や一緒に暮らしている家族などには、「うなり声をあげちゃうけど気にしないで。」
  とか「別の部屋で寝ようか？」などと打ち明けて理解してもらうことが大切です。<br>
  <strong><span class="text-red">打ち明けずに一人で悩んだり抱え込んでいると余計にストレスを貯めてしまいますし、家族や親しい
      友人・恋人でしたら嫌な顔せずに受けて入れくれます！！</span></strong><br>
  私は、うなり声と歯ぎしりのダブルパンチに悩んでいましたが、打ち明けることで気持ち的に楽になりました<br>
  主な予防方法を上げておくので自分に合いそうなものをピックアップして試してみてください。<br>
  </p>
  <div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title">うなり声予防方法</h3>
    </div>
    <div class="panel-body">
      <p>
        <span class="glyphicon glyphicon-check" aria-hidden="true"></span>
        運動をしてストレス発散してみる<br>
      </p>
      <p>
        <span class="glyphicon glyphicon-check" aria-hidden="true"></span>
        寝る直前に考えごとをしない。翌朝早起きしてから考える。
      </p>
      <p>
        <span class="glyphicon glyphicon-check" aria-hidden="true"></span>
        寝る前のアルコール、タバコは控える
      </p>
      <p>
        <span class="glyphicon glyphicon-check" aria-hidden="true"></span>
        枕などの寝具を変えてみる<br>
      </p>
    </div>
  </div>
  <p>
    どれも試してもダメな場合やすぐにでもなんとかしたい人は睡眠サプリメントを使ってみるのも良いでしょう。<br>
    また、あまりにもひどい場合は、心療内科を受診することも検討した方が良いかもしれません。
  </p>
  <div class="page-header">
    <h3 class="h4">おすすめサプリメント</h3>
  </div>
  <div class="row">
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <a href="http://px.a8.net/svt/ejp?a8mat=2NG9D6+6UHH82+37F0+ZT0BL" target="_blank">
        <img border="0" width="300" height="300" alt="" src="http://www27.a8.net/svt/bgt?aid=160322154414&wid=001&eno=01&mid=s00000014958006014000&mc=1"></a>
        <img border="0" width="1" height="1" src="http://www18.a8.net/0.gif?a8mat=2NG9D6+6UHH82+37F0+ZT0BL" alt="">
        <div class="caption">
          <p>ファインベースの休息サプリ、グッドナイト27000</p>
          <p><a href="http://px.a8.net/svt/ejp?a8mat=2NG9D6+6UHH82+37F0+ZT0BL" class="btn btn-success" role="button">詳細</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
