$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 70px 0 0 0;
}

.center {
  text-align: center;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  margin-bottom: 10px;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

.page-header {
  margin-top: 22px;
  border-bottom: 1px solid #5bc0de;
}

.page-small-header {
  border-top:1px solid #337ab7;  
  border-bottom:1px solid #337ab7;  
  margin-top: 20px;
  margin-bottom: 10px;
}

.item-list {
  .thumbnail {
    height: 350px;
    border: none;

    .item_image {
      margin-top: 10px;
      margin-bottom: 10px;
    }

    .price {
      margin-top: 0.5em;
      font-size: 1em;

      .label {
        font-size: 100%;
      }
    }
  }
}
/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  p + h4 {
    margin-top: 28px;
  }

  p {
    line-height: 1.8em;
  }
}

/* sidebar設定 */

#sidebar {
  .page-header {
    h5 {
      margin-bottom: 0px;
    }
  }

}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 1200px;
  }

  .header,
  .marketing,
  .footer {
    padding-left: 15px;
    padding-right: 15px;
  }
  .header {
    margin-bottom: 30px;
  }
  .jumbotron {
    border-bottom: 0;
  }
}

h2 {
	position:relative;
	padding:9px;
	padding-left:25px;
	background-color: #337ab7;
	font-weight: bold;
	color: #fff;
	border-radius:3px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
}
 
h2:before{
	content:''; 
	height:35px; 
	width:4px; 
	display:block; 
	position:absolute; 
	top:8px; 
	left:8px; 
	background-color:#fff;
	border-left: 4px solid #fff;
	border-radius:3px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
}

.text-red {
  color: #ce4844;
}

blockquote footer, blockquote small, blockquote .small {
  font-size: 70%;
}
